html{
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}

button {
  background-color: aqua;
  border-color: rgb(47, 161, 244);
  margin: 10px;
  padding: 15px;
  border-radius: 50%;
  align-items: end;
}

.btn-home{
  text-align: end;
}

.home-title{
  color: rgb(226, 5, 226);
  border-bottom: 3px solid rgb(47, 161, 244);
}

.home-description{
  margin-left: 25%;
  margin-top: 10%;
  margin-right: 25%;
  padding: 10px;
  text-align: center;
  border: 5px solid rgb(47, 161, 244);
}

.logo-bookit-description{
  border-right: 3px solid rgb(47, 161, 244);
  padding-right: 10px;
}
